#task-form {
  display: flex;
  background-color: #0d081e;
  justify-content: space-between;
  gap: 15px;

  padding: 15px;
  border-radius: 7px;
}
#tag-select {
  padding: 8px 12px;

  background-color: #0d081e;
  border: 1px solid #1a0f40;
  border-radius: 4px;
  color: var(--text);

  font-size: var(--text-sm);
  outline: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('/assets/select-arrow.svg');

  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 8px;
}

#task-form input {
  width: 100%;
  color: #504968;
  background-color: #0d081e;
  border: 1px solid #1a0f40;
  border-radius: 4px;
  padding: 4px;
  outline: none;

  font-size: var(--text-sm);
}
#task-form input:focus {
  border: 1px solid #1a0f40;
  box-shadow: 0 0 8px rgba(10, 31, 64, 0.5);
}
