.list {
  display: flex;
  flex-direction: column;

  list-style: none;
  margin: 42px auto;
  gap: 15px;
}
.list li {
  display: flex;
  justify-content: space-between;

  background-color: #0d081e;

  padding: 15px;
  border-radius: 7px;
  font-size: var(--text-sm);
}
.list li.done {
  background-color: #120b28;
}

.list li span.tag {
  border: 1px solid currentColor;
  align-self: center;
}
.list li span.time {
  @media (max-width: 768px) {
    display: none;
  }
}
.status {
  width: 25px;
  height: 25px;
  align-self: center;
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 50px;
}
.status:hover {
  cursor: pointer;
}
.status.active {
  background: transparent;
}
.status.work,
.tag.work {
  color: #6438c1;
}

.status.health,
.tag.health {
  color: #26a41a;
}

.status.personal,
.tag.personal {
  color: #ac7741;
}

.status.other,
.tag.other {
  color: #6b5a91;
}
.status.done {
  background: currentColor;
}
.tag {
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 12px;
}
.title.done {
  text-decoration: line-through;
}
